/*
 * Copyright (c) 2020 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		led1 = &green_led_2;
	};
};

&spi3 {
	cs-gpios = <&gpiod 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>,<&gpioe 0 GPIO_ACTIVE_LOW>;
};
